@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=M+PLUS+1&family=Mochiy+Pop+One&family=Rampart+One&family=RocknRoll+One&display=swap');
/*------Elements------*/
html,body {
    height: 100%;
    margin: 0;
}
body {
    background-color: #2b2b37;
    color: white;
    font-family: 'M PLUS 1', sans-serif;
    font-size: calc(10px + 0.4vw);
}
a {
    color: white;
    font-style: oblique;
}
a:hover {
    text-decoration: none;
    color:#976bbb;
}
input {
    color: #00f639;
}
small {
    text-align: right;
    font-style: oblique;
}
footer {
    background-color: #2b2b37;
    padding: .5em;
    height: 8vh;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
}
img {
    max-height: 100%;
}

/*-------Classes-------*/
/*Bootstrap*/
.page-header {
    font-size: calc(10px + 1.5vw);
}
.nav {
    font-size: calc(10px + 0.8vw);
}
.active {
    color: #9F4BF2;
}
/*Card*/
.card-custom {
    background-color: transparent;
    color: white;
	border: solid white;
    font-size: calc(5px + 1.1vw);
    border-radius: 6px;
    padding: 1em;
    margin-bottom: 30px;
}
.card-custom:hover{
	background-color: #976bbb;
}
.card-title{
    font-weight:bold;
}
.card-top {
    width: 100%;
	margin: 0;
	padding: 1rem;
    position: relative;
    overflow:hidden;
}
img.card-top, iframe.card-top {
    width: 100%;
    height: 100%;
    border-radius: 6px;
}
.card-bottom {
    float: right;
    line-height: 30px;
}
/*Modal*/
/*.modal-title {
    font-size: calc(10px + 1.5vw);
}*/
.modal-content {
    background-color: #2b2b37;
    color: #9F4BF2;
	padding: 1rem;
}
.modalImg {
    max-width: 100%;
    height: auto;
	padding: 1rem;
}
.resizeImg {
    max-width: 100%;
    height: auto;
}
/*Carousel*/
.carousel-control {
    color: black;
}
.carousel-control:hover {
    color: #9F4BF2;
}
.carousel-caption {
    background-color: rgba(14, 102, 122, 0.6);
    font-size: 1rem;
}
.carousel-inner > .item > img {
    margin: 0 auto;
    max-height: 80vh;
}
.nav-pills{
    color:white;
}
.nav-link{
    background-color:white;
}
.nav-link:hover{
    background-color:floralwhite;
}
a.btn-custom {
    background-color: #40ccf7;
    color:#2b2b37;
    text-align: center;
    font-style: normal;
    font-weight:bold;
}