@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=M+PLUS+1&family=Mochiy+Pop+One&family=Rampart+One&family=RocknRoll+One&display=swap');
/*------Elements------*/
html,body {
    height: 100%;
    margin: 0;
}
body {
    background-color: #17A0BF;
    color: white;
    font-family: 'M PLUS 1', sans-serif;
    font-size: calc(10px + 0.4vw);
}
a {
    color: white;
    font-style: oblique;
}
a:hover {
    text-decoration: none;
    color: #9F4BF2;
}
input {
    color: black;
}
small {
    text-align: right;
    font-style: oblique;
}
footer {
    background-color: #F8A4FF;
    padding: .5em;
    height: 8vh;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
}
img {
    max-height: 100%;
}

/*-------Classes-------*/
/*Bootstrap*/
.page-header {
    font-size: calc(10px + 1.5vw);
}
.nav {
    font-size: calc(10px + 0.8vw);
}
.active {
    color: #9F4BF2;
}
/*Card*/
.card-custom {
    background-color: #0E667a;
    color: white;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 
        0 3px 1px -2px rgb(0 0 0 / 20%), 
        0 1px 5px 0 rgb(0 0 0 / 12%);
    font-size: calc(5px + 1.1vw);
    border-radius: 6px;
    padding: 1em;
    margin-bottom: 30px;
}
.card-title{
    font-weight:bold;
}
.card-top {
    width: 100%;
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    overflow:hidden;
    box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%), 
        0 4px 25px 0px rgb(0 0 0 / 12%), 
        0 8px 10px -5px rgb(0 0 0 / 20%);
}
img.card-top, iframe.card-top {
    width: 100%;
    height: 100%;
    border-radius: 6px;
}
.card-bottom {
    float: right;
    line-height: 30px;
}
/*Modal*/
/*.modal-title {
    font-size: calc(10px + 1.5vw);
}*/
.modal-content {
    background-color: #F3D7ED;
    color: #9F4BF2;
}
.modalImg {
    max-width: 100%;
    height: auto;
}
.resizeImg {
    max-width: 100%;
    height: auto;
}
}
/*Carousel*/
.carousel-control {
    color: black;
}
.carousel-control:hover {
    color: #9F4BF2;
}
.carousel-caption {
    background-color: rgba(14, 102, 122, 0.6);
    font-size: calc(5px + 1.5vw);
}
.carousel-inner > .item > img {
    margin: 0 auto;
    max-height: 80vh;
}
.nav-pills{
    color:white;
}
.nav-link{
    background-color:white;
}
.nav-link:hover{
    background-color:floralwhite;
}
.nav-link.active{

}
a.btn-custom {
    background-color: #9F4BF2;
    color:white;
    text-align: center;
    font-style: normal;
    font-weight:bold;
}