@import url('https://fonts.googleapis.com/css?family=Raleway:wght@700|Permanent+Marker&display=swap');

html, body {
    font-family: Raleway;
    background-color: #0b0c10;
    color: #fc007a;
    font-size: 1.1em;
}
a, a:visited {
    text-decoration: none;
    color: #00e5ef;
}
    a:hover {
        color: #00ef1d;
    }

h1 {
    color: #ffffff;
}

h2 {
    color: #66fcf1;
}
h3 {
    color: #45a29e;
}

p {
    color:dodgerblue;
    padding: 1em;
    font-weight:900;
}

#socials {
    color: #fd2d53;
    padding:.5em;
}

#name {
    width: auto;
    font-family: 'Permanent Marker';
    font-size: 4.5em;
    color: #f6019d;
    top: 0;
    padding: .2em;
}

.name {
    width: auto;
    font-family: 'Permanent Marker';
    font-size: 3.5em;
    color: #f6019d;
    top: 0;
    padding: .2em;
}
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #45a29e;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #66fcf1;
    }

img {
    width:100%;
    max-width:72em;
    height:auto;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding:.5em;
    background-color: aquamarine;
}
footer img {
    width: 2em;
    height: 2em;
}
    footer img:hover {
        width: 2.2em;
        height: 2.2em;
    }

.centered {
    text-align:center;
}

.nav-bar {
    background-color: darkcyan;
    overflow: hidden;
}

    .nav-bar a {
        text-align:center;
        color: lightskyblue;
        font-weight:900;
        float: left;
        padding:1em;
    }

        .nav-bar a.active {
            background-color: #f6019d;
            color: white;
        }

        .nav-bar a:hover:not(.active) {
            background-color: mediumpurple;
            color: white;
        }

#nav-button {
    visibility:hidden;
}

#other {
    padding: 20px;
    overflow: auto;
}

.work-info {
    text-indent: 1em;
    color: #fc007a;
}

.vid-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

    .vid-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-height: 700px;
    }

.indent {
    padding-left: 1em;
    padding-right: 1em;
}

.pics-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.pics-column {
    flex: 25%;
    padding: 0 4px;
}

    .pics-column img {
        margin-top: 8px;
        vertical-align: middle;
    }

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding: 1em; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 2em;
    font-weight: bold;
    padding-right: 1em;
    font-size: 3em;
}

    .close:hover,
    .close:focus {
        color: mediumvioletred;
        text-decoration: none;
        cursor: pointer;
    }

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/*-----Home-----*/
.box-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    background-color: deepskyblue;
    color: white;
    flex: 1 1 150px;
    margin: 5px;
    padding: 1em;
    font-weight: 900;
}
    .box:hover {
        background-color: mediumpurple;
        color: white;
    }
/*-----Special Effects-----*/


/*-----Phone/Smaller Screens-----*/
@media only screen and (max-width: 600px) {
    #other {
        margin-left: 2em;
    }
    .name {
        font-size: 3em;
    }
}