@import url('https://fonts.googleapis.com/css?family=Rajdhani|Raleway&display=swap');

html, body {
    font-family: Rajdhani;
    background-color: #0b0c10;
    color: #c5c6c7;
}
a, a:visited {
    text-decoration: none;
    color: #45a29e;
}
    a:hover {
        color: #66fcf1;
    }

img {
    max-width:72em;
}

footer {
    text-align:center;
}
footer img {
    width: 2em;
    height: 2em;
}

.name {
    width:auto;
    font-family: Raleway;
    font-size: 4em;
    color: #66fcf1;
    top: 0;
    padding: .2em;
    /*text-align: center;*/
}
.nav-bar {
    background-color: #3500d3;
    height: 100%;
    position: fixed !important;
    z-index: 1;
    left:0;
    top:0;
    overflow: hidden;
}

    .nav-bar a {
        color: white;
        padding: 1em .6em;
        width: 100%;
        border: none;
        display: block;
        outline: 0;
    }

        .nav-bar a.active {
            background-color: #00375e;
            color: white;
        }

        .nav-bar a:hover:not(.active) {
            background-color: #190061;
            color: white;
        }

.other {
    margin-left: 10em;
    margin-right: 0 !important;
    padding: 20px;
    overflow: auto;
}

.work-info{
    text-indent:1em;
}

.vid-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

    .vid-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

/*-----Special Effects-----*/


/*-----Phone-----*/
@media only screen and (max-width: 600px) {
    #main {
        margin-left: 0
    }
}