@import url('https://fonts.googleapis.com/css?family=Courgette|Lato');

/*defult look*/
body {
    width: calc(100% - 40px);
    padding:0;
    background-color: rgb(241,233,231);
    font-family: 'Lato', sans-serif;
    
}

.Bar {
    font-family: 'Courgette', cursive;
    font-size: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
h2 {
    margin-left: auto;
    margin-right: auto;
    font-family: 'Courgette', cursive;
    font-size: 16px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
p {
    overflow-wrap:normal;
    width: calc(100% - 40px);
    margin-left: auto;
    margin-right: auto;

}

.About {
    font-family: 'Lato', sans-serif;
    margin-left: auto;
    margin-right: auto;
}
.Project {
    width:500px;
    margin:auto;
}
image.Project {
    width: 50px;
    height: auto;
}
p.Project {
}
/*style ___ px <= */
@media (min-width: 600px) {
    body {
        max-width: 2000px
    }
    h1 {
        background: pink;
        font-size: 50px;
    }
    h2 {
        font-size: 30px;
    }
    p {
        max-width: 75%;
    }
    .Project {
        width:80%;
    }
    image.Project {
        float: left;
    }
    p.Project {
        float: right;
    }
}
