@import url('https://fonts.googleapis.com/css?family=Rajdhani|Raleway&display=swap');


body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

canvas {
    width: 100%;
    height: 100%
}
.overlay {
    z-index: 99;
    width: 100%;
    position: absolute;
    display: flex;
}

a{
    text-decoration:none;
}
h1{
    text-align:center;
}