@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Bebas Neue', cursive;
}

canvas {
    height: 100%;
    width: 100%;
}
.overlay {
    z-index: 1;
    width: 100%;
    position: absolute;
}
.top {
    width: 100%;
    /*display: flex;
    align-items:flex-start;
    justify-content:space-between;*/
}
a{
    text-decoration:none;
}
a:visited{
    color:inherit;
}
h1{
    text-align:center;
}
#Back-Button{
    float:left;
    padding:0.5em;
    font-size:1.5em;
    background-color:blue;
    color:white;
    position:fixed;
    top:0;
    left:0;
}
#Back-Button:hover {
    color: blue;
    background-color: white;
}
.heading {
    float: none;
    text-align: center;
    z-index: -3;
    padding: 1em;
    font-size: 2.2em;
    opacity: 0.4;
}
#Help-Button {
    float: right;
    margin-right: 0.5em;
    margin-top: 0.5em;
    border-radius: 2em;
    padding: 1em;
    font-size: 2em;
    background-color: rgba(150, 150, 150, 0.8);
    /*color: white;*/
}
#Help-Button:hover{
    background-color:white;
    color:red;
}
#Trapdoor {
    float: right;
    border-radius: 0.5em;
    padding: 1em;
    margin: 0.5em;
    font-size: 2em;
    background-color: rgba(150, 150, 150, 0.8);
    border: none;
    position: fixed;
    bottom: 0;
    right: 0;
}
#Trapdoor:hover{
    border:0.1em solid blue;
}

/*https://www.w3schools.com/howto/howto_css_modals.asp*/
#modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#modal-content {
    font-size:1.5em;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 1em;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

/*https://www.w3schools.com/howto/howto_js_snackbar.asp*/
#snackbar {
    font-size:1.5em;
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 1em; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 2em; 
}

    #snackbar.show {
        visibility: visible; 
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }