@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Bebas Neue', cursive;
}

canvas {
    height: 100%;
    width: 100%;
}
.overlay {
    z-index: 1;
    width: 100%;
    position: absolute;
}
.top {
    width: 100%;
    display: flex;
    align-items:flex-start;
    justify-content:space-between;
}
a{
    text-decoration:none;
}
a:visited{
    color:inherit;
}
h1{
    text-align:center;
}
#Back-Button{
    float:left;
    padding:0.5em;
    font-size:1.5em;
    background-color:blue;
    color:white;
}

.heading {
    float:none;
    text-align:center;
    z-index:-3;
    padding: 1.5em;
    font-size:2.2em;
    opacity:0.4;
}
#Help-Button {
    float: right;
    margin-right: 0.5em;
    margin-top: 0.5em;
    border-radius: 2em;
    padding: 1em;
    font-size: 2em;
    background-color: rgba(150, 150, 150, 0.8);
    /*color: white;*/
}
#Help-Button:hover{
    background-color:white;
    color:red;
}
#Trapdoor {
    float: right;
    border-radius: 0.2em;
    padding: 1em;
    margin-right:0.5em;
    font-size: 2em;
    background-color: rgba(150, 150, 150, 0.8);
    border:none;
}
#Trapdoor:hover{
    border:0.2em solid red;
}